.footer {
    background-image: url('https://picsum.photos/1850/300');
    background-position: center;
    background-attachment: scroll;
    height: 200px;

    color: honeydew;

    padding: 0 !important; 
}
.p-relative{
    position: relative;
}
.warp{
    position: absolute;
    width: 100%;
    height: 100%;
    background: gray;
    opacity: 0.3;
}